body.red-back {
    background-color: red;
}


a.botton1{
font-size:20px;
display:block;
width:100px;
padding-top:10px;
padding-bottom:10px;
text-align:center;
border:2px solid;
border-color:#aaaaaa #444444 #444444 #aaaaaa;
background:#cccccc;
}

a.botton1:hover{
background:#777777;
}

span.field-val-error{
    color : red;
}

p.screen-error{
    coler:black;
    font-size:16px;
    height:50px;
    background-color:pink;
}