<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>SECOND</title>
    <link th:href="@{/css/app.css}" rel="stylesheet" />
</head>
<body>
    <form th:action="@{/regist}" th:method="POST" th:object="${secondForm}" >
        <!-- 共通エラーメッセージ -->
        <div th:if="${#fields.hasErrors('all')}">
            <p th:text="${validateError}" class="screen-error">ErrorMessage</p>
        </div>
        <div>
            <label for="name">氏名：</label>
            <input type="text" value="板村 亮平" id="name" th:field="*{name}" />
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="field-val-error">error!</span>
        </div>
        <div>
            <label for="prefucture">出身地：</label>
            <!-- formとのひも付けはname属性で指定 -->
            <select id="prefucture" name="prefuct">
                <option th:each="pref:${prefList}" th:value="${pref}" th:text="${pref}" th:selected="${pref} == *{prefuct}">出身地</option>
            </select>
            <span th:if="${#fields.hasErrors('prefuct')}" th:errors="*{prefuct}" class="field-val-error">error!</span>
        </div>
        <div>
            <label>性別:
                <input type="radio" value="男" name="gender" checked="checked" th:field="*{sex}" />男
                <input type="radio" value="女" name="gender" th:field="*{sex}" />女
            </label>
        </div>
        <div>
            <label for="birthdayy">生年月日：</label>
            <!-- <input type="text" name="birthday" id="birthday" th:field="*{birth}" /> -->
            <input type="text" name="birthday" id="birthdayy" th:field="*{tyear}" style="width:80px;"/>年
            <input type="text" name="birthday" id="birthdaym" th:field="*{tmonth}" style="width:40px;"/>月
            <input type="text" name="birthday" id="birthdayd" th:field="*{tday}" style="width:40px;"/>日
            <div th:if="${#fields.hasErrors('tyear') || #fields.hasErrors('tmonth') || #fields.hasErrors('tday') }">
                <p th:if="${#fields.hasErrors('tyear')}" th:errors="*{tyear}" class="field-val-error field-birth-error"></p>
                <p th:if="${#fields.hasErrors('tmonth')}" th:errors="*{tmonth}" class="field-val-error field-birth-error"></p>
                <p th:if="${#fields.hasErrors('tday')}" th:errors="*{tday}" class="field-val-error field-birth-error"></p>
            </div>
<!--            th:text="*{#temporals.format(birth,'yyyy-MM-dd')}" />-->
        </div>
        <div>
            <label for="age">年齢：</label>
            <input type="text" name="age" id="age" value="37" th:field="*{age}"/>
        </div>
        <div>
            <label for="email">EMail:</label>
            <input type="text" name="email" id="email" th:field="*{email}" />
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="field-val-error">error!</span>
        </div>
<!--        <div>-->
<!--            <label for="pw">パスワード：</label>-->
<!--            <input type="password" value="xsw2#EDC" id="pw"/>-->
<!--        </div>-->
        <div>
            <label>経歴：
                <input type="checkbox" name="career" value="jobchange" th:field="*{jobChangeFlg}"/>転職経験あり
                <input type="checkbox" name="career" value="university" th:field="*{universityFlg}"/>大卒
                <input type="checkbox" name="career" value="oversea" th:field="*{overseaFlg}"/>海外生活あり
            </label>
        </div>
        <div>
            <label>内容：
                <input type="checkbox" th:id="${contentMap['__${item.key}__']}"  th:name="${contentMap['__${item.key}__']}" th:each="item :${contentMap}" th:text="${item.key}" />
            </label>
        </div>
        <button type="submit">登録</button>
    </form>
</body>
</html>