<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>SECOND</title>
</head>
<body>
    <form th:action="@{/regist}" th:method="POST" th:object="${secondForm}" >
        <div>
            <label for="name">氏名：</label>
            <input type="text" value="板村 亮平" id="name" th:field="*{name}" />
        </div>
        <div>
            <label for="prefucture">出身地：</label>
            <!-- formとのひも付けはname属性で指定 -->
            <select id="prefucture" name="prefuct">
                <option th:each="pref:${prefList}" th:value="${pref}" th:text="${pref}" th:selected="${pref} == *{prefuct}">出身地</option>
            </select>
        </div>
        <div>
            <label>性別:
                <input type="radio" value="男" name="gender" checked="checked" th:field="*{sex}" />男
                <input type="radio" value="女" name="gender" th:field="*{sex}" />女
            </label>
        </div>
        <div>
            <label for="birthday">生年月日：</label>
            <input type="text" name="birthday" id="birthday" value="1982/09/17" th:field="*{birth}" />
        </div>
        <div>
            <label for="age">年齢：</label>
            <input type="text" name="age" id="age" value="37" th:field="*{age}"/>
        </div>
        <div>
            <label for="email">EMail:</label>
            <input type="text" name="email" id="email" th:field="*{email}" />
        </div>
<!--        <div>-->
<!--            <label for="pw">パスワード：</label>-->
<!--            <input type="password" value="xsw2#EDC" id="pw"/>-->
<!--        </div>-->
        <div>
            <label>経歴：
                <input type="checkbox" name="career" value="jobchange" th:field="*{jobChangeFlg}"/>転職経験あり
                <input type="checkbox" name="career" value="university" th:field="*{universityFlg}"/>大卒
                <input type="checkbox" name="career" value="oversea" th:field="*{overseaFlg}"/>海外生活あり
            </label>
        </div>
        <div>
            <label>内容：
                <input type="checkbox" th:id="${contentMap['__${item.key}__']}"  th:name="${contentMap['__${item.key}__']}" th:each="item :${contentMap}" th:text="${item.key}" />
            </label>
        </div>
        <button type="submit">登録</button>
    </form>
</body>
</html>